:root {
  --primary: #1e90ff;
  --secondary: #ffffff;
  --off-white: #eee;
  --black: black;
}

.main {
  height: calc(100vh - 100px);
}
.main-frame {
  flex: auto;
  margin: 3em 4em;
}
#users-frame {
  margin-top: 10px;
  width: 100%;
  height: 500px;
}
.footer {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.imp-text {
  color: var(--primary);
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

/* side drawer styles */
.user-info {
  width: 350px;
}
.side-draw {
  margin-top: 30px;
  width: 100px;
}
.rs-drawer-content {
  background-color: var(--off-white);
}
.rs-drawer-body {
  padding: 15px;
}
.rs-drawer-body-close {
  top: 5px;
  left: 5px;
  color: var(--black);
}
.rs-drawer-left.rs-drawer-sm,
.rs-drawer-right.rs-drawer-sm {
  width: 500px;
}
.rs-list-hover .rs-list-item:hover {
  cursor: pointer;
}
