:root {
  --primary: #1e90ff;
  --secondary: #ffffff;
  --off-white: #eee;
}

.main {
  height: calc(100vh - 100px);
}
.main-frame {
  flex: auto;
  margin: 3em 4em;
}
#users-frame {
  margin-top: 10px;
  width: 100%;
  height: 500px;
}
.side-draw {
  width: 100px;
  background-color: var(--off-white);
}
.side-draw > ul {
  list-style: none;
  padding: 10px 0 0 15px;
  margin-bottom: 0;
}
.side-draw > ul > li {
  padding: 10px 0;
  font-weight: bold;
}
.footer {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.col-flex {
  display: flex;
  flex-direction: column;
}

.imp-text {
  color: var(--primary);
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}