:root {
  --primary: steelblue;
  --secondary: rgb(223, 76, 76);
  --off-white: rgba(238, 238, 238, 0.96);
  --black: black;
  --white: white;
}

.main {
  height: calc(100vh - 100px);
}
.main-frame {
  flex: auto;
  margin: 3em 4em;
}
#users-frame {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  border: 2px solid var(--primary);
  border-radius: 5px;
}
.footer {
  height: 50px;
  justify-content: center;
  align-items: center;
}

/* generic styles */
.row-flex {
  display: flex;
  flex-direction: row;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.imp-text {
  color: var(--black);
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.rs-btn-primary {
  background-color: var(--primary);
}
.rs-table-header-row-wrapper {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.1em;
}

/* navbar styles */
.rs-navbar-default {
  background-color: var(--primary);
  color: var(--white);
}
.rs-navbar-brand {
  color: var(--white);
  font-weight: bold;
  font-size: 1.5em;
  padding: 12px 20px;
}
.rs-navbar-item {
  font-weight: 700;
}

/* side drawer styles */
.user-info {
  width: 350px;
  padding: 50px 10px;
}
.user-info h2 {
  font-size: 30px;
  color: var(--black);
}
.side-draw {
  width: 100px;
  background-color: var(--white);
  padding: 50px 10px;
}
.rs-drawer-content {
  background-color: var(--off-white);
}
.rs-drawer-body {
  padding: 0;
}
.rs-drawer-body-close {
  top: 5px;
  left: 5px;
  color: var(--black);
}
.rs-drawer-left.rs-drawer-xs,
.rs-drawer-right.rs-drawer-xs {
  width: 450px;
}
.rs-list-hover .rs-list-item:hover {
  cursor: pointer;
}
.active {
  border-left: 4px solid var(--secondary);
  color: var(--primary);
}

.dummy-dp {
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 50%;
  background-color: #ddd;
  color: var(--secondary);
  font-weight: bold;
}
.name {
  padding-left: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--secondary);
}
.username {
  font-weight: 500;
}
.profile-body {
  background-color: var(--white);
  border-radius: 5px;
  padding: 2em 1em;
}
.post-section,
.all-posts {
  height: 100%;
  overflow-y: auto;
}

/* post-card styles */
.post-card {
  background-color: var(--white);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}
.post-card .post-time {
  font-weight: bold;
  font-size: 0.8em;
}
.post-card .post-title {
  font-size: 20px;
  color: var(--primary);
  line-height: 22px;
  margin: 5px 0;
}
.post-card .post-body {
  font-weight: 500;
}
